<% if current_user != nil && current_user.id = @user.id %>
  <h1><%= @user.email %>'s <%= @list.name %> List!</h1>
  <br>
  <p><%= link_to "Add a book", new_book_path(list_id: @list.id), id: "add-book", remote: true %></p>
<% else %>
  <h1><%= @list.name %> List!</h1>
<% end %>



<p>Click on a book title to read the description of the book.</p>

<div id="all-books">
  <%= render @list.books %>

</div>

<br>
<p><%= link_to "Return to home", root_url, class: "btn btn-primary" %></p>
